.menu-principal .titulo {
    color: limegreen;
    text-align: center;
  font-family: Georgia, 'Times New Roman', Timrif;
}

.menu-principal {
    background-image: url("https://i.imgur.com/gXwAStV.png");
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
}

.menu-principal hr {
    border: none;
    border-top: 2px solid gray;
    margin: 0;
  position: relative;
  top: -20px;
}

.menu-principal .botão1 {
  transition: transform 0.15s;
  background-color: 0.15s;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 468px;
  left: 50%;
transform: translateX(-50%);
  width: 150px;
  height: 40px;
  padding-top: 7px;
  font-size: 25px;
  text-align: center;
    color: white;
  border: 2px solid limegreen;
    background-color: dimgray;
  border-radius: 10px;
}

.menu-principal .botão1:active {
    transform: translateX(-50%) scale(0.8);
    background-color: limegreen;
    border-color: white;
}

.menu-principal .botão2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 350px;
  left: 50%;
transform: translateX(-50%);
  width: 150px;
  height: 40px;
  padding-top: 7px;
  font-size: 25px;
  text-align: center;
    color: white;
  border: 2px solid limegreen;
    background-color: dimgray;
  border-radius: 10px;
}

.menu-principal .botão3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 410px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    padding-top: 12px;
    font-size: 20px;
    text-align: center;
    color: white;
    border: 2px solid limegreen;
    background-color: dimgray;
    border-radius: 10px;
}

.menu-principal h2 {
  position: relative;
  top: 205px;
  color: green;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu-principal .titulo2 {
  position: relative;
  top: 170px;
  text-align: center;
  color: limegreen;
    text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.novo-jogo hr {
border: none;
    border-top: 2px solid gray;
    margin: 0;
  position: relative;
  top: 30px;
}

.novo-jogo .newgame {
  position: relative;
  top: -30px;
  color: limegreen;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.novo-jogo {
  background-color: #212429;
}

.novo-jogo label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  top: -10px;
  color: white;
}

.novo-jogo input {
  text-align: left;
    padding-left: 8px;
  position: absolute;
  top: 110px;
  left: 8px;
  background-color: dimgray;
  color: white;
    border: 2px solid limegreen;
    border-radius: 3px;
  width: 335px
}

@media (min-width: 768px) {
    .menu-principal {
        background-image: url("https://i.imgur.com/mxHR8oC.jpeg");
        background-size: cover;
        background-position: center 0px;
        background-repeat: no-repeat;
    }

    .menu-principal .titulo {
        font-size: 50px;
    }

    .menu-principal .titulo2 {
        top: 85px;
        font-size: 30px;
    }

    .menu-principal .botão2 {
        top: 300px;
        width: 200px;
        height: 50px;
        font-size: 30px;
    }

    .menu-principal .botão3 {
        top: 400px;
        width: 200px;
        height: 50px;
        font-size: 25px;
    }

    .menu-principal .botão1 {
        top: 500px;
        width: 200px;
        height: 50px;
        font-size: 30px;
    }
  }
